ConferenceModel/Service References/ConferenceVersionWebservice/ConferenceVersionWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUpDateFile">
        <s:complexType />
      </s:element>
      <s:element name="GetUpDateFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpDateFileResult" type="tns:ConferenceVersionUpdateEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConferenceVersionUpdateEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UpdateFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateRootFile" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NeedVersionUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PC_Version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NeedVersionUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NeedVersionUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConferenceVersionUpdateEntity" nillable="true" type="tns:ConferenceVersionUpdateEntity" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUpDateFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpDateFile" />
  </wsdl:message>
  <wsdl:message name="GetUpDateFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpDateFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeedVersionUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:NeedVersionUpdate" />
  </wsdl:message>
  <wsdl:message name="NeedVersionUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:NeedVersionUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpDateFileHttpGetIn" />
  <wsdl:message name="GetUpDateFileHttpGetOut">
    <wsdl:part name="Body" element="tns:ConferenceVersionUpdateEntity" />
  </wsdl:message>
  <wsdl:message name="NeedVersionUpdateHttpGetIn">
    <wsdl:part name="PC_Version" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NeedVersionUpdateHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUpDateFileHttpPostIn" />
  <wsdl:message name="GetUpDateFileHttpPostOut">
    <wsdl:part name="Body" element="tns:ConferenceVersionUpdateEntity" />
  </wsdl:message>
  <wsdl:message name="NeedVersionUpdateHttpPostIn">
    <wsdl:part name="PC_Version" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NeedVersionUpdateHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="ConferenceVersionWebserviceSoap">
    <wsdl:operation name="GetUpDateFile">
      <wsdl:input message="tns:GetUpDateFileSoapIn" />
      <wsdl:output message="tns:GetUpDateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NeedVersionUpdate">
      <wsdl:input message="tns:NeedVersionUpdateSoapIn" />
      <wsdl:output message="tns:NeedVersionUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConferenceVersionWebserviceHttpGet">
    <wsdl:operation name="GetUpDateFile">
      <wsdl:input message="tns:GetUpDateFileHttpGetIn" />
      <wsdl:output message="tns:GetUpDateFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="NeedVersionUpdate">
      <wsdl:input message="tns:NeedVersionUpdateHttpGetIn" />
      <wsdl:output message="tns:NeedVersionUpdateHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConferenceVersionWebserviceHttpPost">
    <wsdl:operation name="GetUpDateFile">
      <wsdl:input message="tns:GetUpDateFileHttpPostIn" />
      <wsdl:output message="tns:GetUpDateFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="NeedVersionUpdate">
      <wsdl:input message="tns:NeedVersionUpdateHttpPostIn" />
      <wsdl:output message="tns:NeedVersionUpdateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConferenceVersionWebserviceSoap" type="tns:ConferenceVersionWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpDateFile">
      <soap:operation soapAction="http://tempuri.org/GetUpDateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedVersionUpdate">
      <soap:operation soapAction="http://tempuri.org/NeedVersionUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceVersionWebserviceSoap12" type="tns:ConferenceVersionWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpDateFile">
      <soap12:operation soapAction="http://tempuri.org/GetUpDateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedVersionUpdate">
      <soap12:operation soapAction="http://tempuri.org/NeedVersionUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceVersionWebserviceHttpGet" type="tns:ConferenceVersionWebserviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetUpDateFile">
      <http:operation location="/GetUpDateFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedVersionUpdate">
      <http:operation location="/NeedVersionUpdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceVersionWebserviceHttpPost" type="tns:ConferenceVersionWebserviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetUpDateFile">
      <http:operation location="/GetUpDateFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedVersionUpdate">
      <http:operation location="/NeedVersionUpdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConferenceVersionWebservice">
    <wsdl:port name="ConferenceVersionWebserviceSoap" binding="tns:ConferenceVersionWebserviceSoap">
      <soap:address location="http://192.168.11.214:11888/ConferenceVersionWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceVersionWebserviceSoap12" binding="tns:ConferenceVersionWebserviceSoap12">
      <soap12:address location="http://192.168.11.214:11888/ConferenceVersionWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceVersionWebserviceHttpGet" binding="tns:ConferenceVersionWebserviceHttpGet">
      <http:address location="http://192.168.11.214:11888/ConferenceVersionWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceVersionWebserviceHttpPost" binding="tns:ConferenceVersionWebserviceHttpPost">
      <http:address location="http://192.168.11.214:11888/ConferenceVersionWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>