ConferenceModel/Service References/ConferenceMatrixWebservice/ConferenceMatrixWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetMatrixEntity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="conferenceMatrixEntity" type="tns:ConferenceMatrixEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConferenceMatrixEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:ConferenceMatrixBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Sharer" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SharerUri" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsOnline" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ConferenceMatrixOutPut" type="tns:ConferenceMatrixOutPut" />
              <s:element minOccurs="0" maxOccurs="1" name="SeatEntity" type="tns:SeatEntity" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ConferenceMatrixBase" />
      <s:complexType name="SeatEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:ConferenceMatrixBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SettingIP" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SettingNummber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SharerUri" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="ConferenceMatrixOutPut">
        <s:restriction base="s:string">
          <s:enumeration value="OutPut1" />
          <s:enumeration value="OutPut2" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetMatrixEntityResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMatrixEntity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMatrixEntityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMatrixEntityResult" type="tns:ConferenceMatrixEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplyMatrixEntity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="conferenceMaxtrixApplyEntity" type="tns:ConferenceMaxtrixApplyEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConferenceMaxtrixApplyEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:ConferenceMatrixBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ApplyPeople" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ConferenceMatrixOutPut" type="tns:ConferenceMatrixOutPut" />
              <s:element minOccurs="0" maxOccurs="1" name="BeforeSeatEntity" type="tns:SeatEntity" />
              <s:element minOccurs="0" maxOccurs="1" name="SeatEntity" type="tns:SeatEntity" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ApplyMatrixEntityResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMaxtrixControlCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="conferenceMatrixThrowCode" type="tns:ConferenceMatrixThrowCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConferenceMatrixThrowCode">
        <s:complexContent mixed="false">
          <s:extension base="tns:ConferenceMatrixBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="matrixThrowCodeType" type="tns:MatrixThrowCodeType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="MatrixThrowCodeType">
        <s:restriction base="s:string">
          <s:enumeration value="ClearProjectionState" />
          <s:enumeration value="ClearProjectionTip" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendMaxtrixControlCodeResponse">
        <s:complexType />
      </s:element>
      <s:element name="InToOneSeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="seatList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selfUri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selfName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selfIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InToOneSeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InToOneSeatResult" type="tns:ArrayOfSeatEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSeatEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SeatEntity" nillable="true" type="tns:SeatEntity" />
        </s:sequence>
      </s:complexType>
      <s:element name="LeaveOneSeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="selfName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selfIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaveOneSeatResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConferenceMatrixEntity" nillable="true" type="tns:ConferenceMatrixEntity" />
      <s:element name="ArrayOfSeatEntity" nillable="true" type="tns:ArrayOfSeatEntity" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetMatrixEntitySoapIn">
    <wsdl:part name="parameters" element="tns:SetMatrixEntity" />
  </wsdl:message>
  <wsdl:message name="SetMatrixEntitySoapOut">
    <wsdl:part name="parameters" element="tns:SetMatrixEntityResponse" />
  </wsdl:message>
  <wsdl:message name="GetMatrixEntitySoapIn">
    <wsdl:part name="parameters" element="tns:GetMatrixEntity" />
  </wsdl:message>
  <wsdl:message name="GetMatrixEntitySoapOut">
    <wsdl:part name="parameters" element="tns:GetMatrixEntityResponse" />
  </wsdl:message>
  <wsdl:message name="ApplyMatrixEntitySoapIn">
    <wsdl:part name="parameters" element="tns:ApplyMatrixEntity" />
  </wsdl:message>
  <wsdl:message name="ApplyMatrixEntitySoapOut">
    <wsdl:part name="parameters" element="tns:ApplyMatrixEntityResponse" />
  </wsdl:message>
  <wsdl:message name="SendMaxtrixControlCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SendMaxtrixControlCode" />
  </wsdl:message>
  <wsdl:message name="SendMaxtrixControlCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SendMaxtrixControlCodeResponse" />
  </wsdl:message>
  <wsdl:message name="InToOneSeatSoapIn">
    <wsdl:part name="parameters" element="tns:InToOneSeat" />
  </wsdl:message>
  <wsdl:message name="InToOneSeatSoapOut">
    <wsdl:part name="parameters" element="tns:InToOneSeatResponse" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatSoapIn">
    <wsdl:part name="parameters" element="tns:LeaveOneSeat" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatSoapOut">
    <wsdl:part name="parameters" element="tns:LeaveOneSeatResponse" />
  </wsdl:message>
  <wsdl:message name="GetMatrixEntityHttpGetIn">
    <wsdl:part name="conferenceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMatrixEntityHttpGetOut">
    <wsdl:part name="Body" element="tns:ConferenceMatrixEntity" />
  </wsdl:message>
  <wsdl:message name="InToOneSeatHttpGetIn">
    <wsdl:part name="conferenceID" type="s:string" />
    <wsdl:part name="seatList" type="s:string" />
    <wsdl:part name="selfUri" type="s:string" />
    <wsdl:part name="selfName" type="s:string" />
    <wsdl:part name="selfIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InToOneSeatHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSeatEntity" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatHttpGetIn">
    <wsdl:part name="conferenceID" type="s:string" />
    <wsdl:part name="selfName" type="s:string" />
    <wsdl:part name="selfIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatHttpGetOut" />
  <wsdl:message name="GetMatrixEntityHttpPostIn">
    <wsdl:part name="conferenceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMatrixEntityHttpPostOut">
    <wsdl:part name="Body" element="tns:ConferenceMatrixEntity" />
  </wsdl:message>
  <wsdl:message name="InToOneSeatHttpPostIn">
    <wsdl:part name="conferenceID" type="s:string" />
    <wsdl:part name="seatList" type="s:string" />
    <wsdl:part name="selfUri" type="s:string" />
    <wsdl:part name="selfName" type="s:string" />
    <wsdl:part name="selfIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InToOneSeatHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSeatEntity" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatHttpPostIn">
    <wsdl:part name="conferenceID" type="s:string" />
    <wsdl:part name="selfName" type="s:string" />
    <wsdl:part name="selfIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatHttpPostOut" />
  <wsdl:portType name="ConferenceMatrixWebserviceSoap">
    <wsdl:operation name="SetMatrixEntity">
      <wsdl:input message="tns:SetMatrixEntitySoapIn" />
      <wsdl:output message="tns:SetMatrixEntitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMatrixEntity">
      <wsdl:input message="tns:GetMatrixEntitySoapIn" />
      <wsdl:output message="tns:GetMatrixEntitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApplyMatrixEntity">
      <wsdl:input message="tns:ApplyMatrixEntitySoapIn" />
      <wsdl:output message="tns:ApplyMatrixEntitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMaxtrixControlCode">
      <wsdl:input message="tns:SendMaxtrixControlCodeSoapIn" />
      <wsdl:output message="tns:SendMaxtrixControlCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <wsdl:input message="tns:InToOneSeatSoapIn" />
      <wsdl:output message="tns:InToOneSeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <wsdl:input message="tns:LeaveOneSeatSoapIn" />
      <wsdl:output message="tns:LeaveOneSeatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConferenceMatrixWebserviceHttpGet">
    <wsdl:operation name="GetMatrixEntity">
      <wsdl:input message="tns:GetMatrixEntityHttpGetIn" />
      <wsdl:output message="tns:GetMatrixEntityHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <wsdl:input message="tns:InToOneSeatHttpGetIn" />
      <wsdl:output message="tns:InToOneSeatHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <wsdl:input message="tns:LeaveOneSeatHttpGetIn" />
      <wsdl:output message="tns:LeaveOneSeatHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConferenceMatrixWebserviceHttpPost">
    <wsdl:operation name="GetMatrixEntity">
      <wsdl:input message="tns:GetMatrixEntityHttpPostIn" />
      <wsdl:output message="tns:GetMatrixEntityHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <wsdl:input message="tns:InToOneSeatHttpPostIn" />
      <wsdl:output message="tns:InToOneSeatHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <wsdl:input message="tns:LeaveOneSeatHttpPostIn" />
      <wsdl:output message="tns:LeaveOneSeatHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConferenceMatrixWebserviceSoap" type="tns:ConferenceMatrixWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetMatrixEntity">
      <soap:operation soapAction="http://tempuri.org/SetMatrixEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatrixEntity">
      <soap:operation soapAction="http://tempuri.org/GetMatrixEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyMatrixEntity">
      <soap:operation soapAction="http://tempuri.org/ApplyMatrixEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMaxtrixControlCode">
      <soap:operation soapAction="http://tempuri.org/SendMaxtrixControlCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <soap:operation soapAction="http://tempuri.org/InToOneSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <soap:operation soapAction="http://tempuri.org/LeaveOneSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceMatrixWebserviceSoap12" type="tns:ConferenceMatrixWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetMatrixEntity">
      <soap12:operation soapAction="http://tempuri.org/SetMatrixEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatrixEntity">
      <soap12:operation soapAction="http://tempuri.org/GetMatrixEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyMatrixEntity">
      <soap12:operation soapAction="http://tempuri.org/ApplyMatrixEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMaxtrixControlCode">
      <soap12:operation soapAction="http://tempuri.org/SendMaxtrixControlCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <soap12:operation soapAction="http://tempuri.org/InToOneSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <soap12:operation soapAction="http://tempuri.org/LeaveOneSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceMatrixWebserviceHttpGet" type="tns:ConferenceMatrixWebserviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetMatrixEntity">
      <http:operation location="/GetMatrixEntity" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <http:operation location="/InToOneSeat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <http:operation location="/LeaveOneSeat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceMatrixWebserviceHttpPost" type="tns:ConferenceMatrixWebserviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetMatrixEntity">
      <http:operation location="/GetMatrixEntity" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <http:operation location="/InToOneSeat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <http:operation location="/LeaveOneSeat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConferenceMatrixWebservice">
    <wsdl:port name="ConferenceMatrixWebserviceSoap" binding="tns:ConferenceMatrixWebserviceSoap">
      <soap:address location="http://192.168.11.214:11888/ConferenceMatrixWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceMatrixWebserviceSoap12" binding="tns:ConferenceMatrixWebserviceSoap12">
      <soap12:address location="http://192.168.11.214:11888/ConferenceMatrixWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceMatrixWebserviceHttpGet" binding="tns:ConferenceMatrixWebserviceHttpGet">
      <http:address location="http://192.168.11.214:11888/ConferenceMatrixWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceMatrixWebserviceHttpPost" binding="tns:ConferenceMatrixWebserviceHttpPost">
      <http:address location="http://192.168.11.214:11888/ConferenceMatrixWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>