ConferenceModel/Service References/FileSyncAppPoolWebService/FileSyncAppPoolWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FillSyncServiceData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bytesStr" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillSyncServiceDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSyncServiceData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncServiceDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSyncServiceDataResult" type="tns:FileSyncAppEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileSyncAppEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ImgBytes" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="FileSyncAppEntity" nillable="true" type="tns:FileSyncAppEntity" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FillSyncServiceDataSoapIn">
    <wsdl:part name="parameters" element="tns:FillSyncServiceData" />
  </wsdl:message>
  <wsdl:message name="FillSyncServiceDataSoapOut">
    <wsdl:part name="parameters" element="tns:FillSyncServiceDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetSyncServiceDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSyncServiceData" />
  </wsdl:message>
  <wsdl:message name="GetSyncServiceDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetSyncServiceDataResponse" />
  </wsdl:message>
  <wsdl:message name="FillSyncServiceDataHttpGetIn">
    <wsdl:part name="conferenceID" type="s:string" />
    <wsdl:part name="bytesStr" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="FillSyncServiceDataHttpGetOut" />
  <wsdl:message name="GetSyncServiceDataHttpGetIn">
    <wsdl:part name="conferenceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSyncServiceDataHttpGetOut">
    <wsdl:part name="Body" element="tns:FileSyncAppEntity" />
  </wsdl:message>
  <wsdl:message name="FillSyncServiceDataHttpPostIn">
    <wsdl:part name="conferenceID" type="s:string" />
    <wsdl:part name="bytesStr" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="FillSyncServiceDataHttpPostOut" />
  <wsdl:message name="GetSyncServiceDataHttpPostIn">
    <wsdl:part name="conferenceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSyncServiceDataHttpPostOut">
    <wsdl:part name="Body" element="tns:FileSyncAppEntity" />
  </wsdl:message>
  <wsdl:portType name="FileSyncAppPoolWebserviceSoap">
    <wsdl:operation name="FillSyncServiceData">
      <wsdl:input message="tns:FillSyncServiceDataSoapIn" />
      <wsdl:output message="tns:FillSyncServiceDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncServiceData">
      <wsdl:input message="tns:GetSyncServiceDataSoapIn" />
      <wsdl:output message="tns:GetSyncServiceDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FileSyncAppPoolWebserviceHttpGet">
    <wsdl:operation name="FillSyncServiceData">
      <wsdl:input message="tns:FillSyncServiceDataHttpGetIn" />
      <wsdl:output message="tns:FillSyncServiceDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncServiceData">
      <wsdl:input message="tns:GetSyncServiceDataHttpGetIn" />
      <wsdl:output message="tns:GetSyncServiceDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FileSyncAppPoolWebserviceHttpPost">
    <wsdl:operation name="FillSyncServiceData">
      <wsdl:input message="tns:FillSyncServiceDataHttpPostIn" />
      <wsdl:output message="tns:FillSyncServiceDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncServiceData">
      <wsdl:input message="tns:GetSyncServiceDataHttpPostIn" />
      <wsdl:output message="tns:GetSyncServiceDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileSyncAppPoolWebserviceSoap" type="tns:FileSyncAppPoolWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FillSyncServiceData">
      <soap:operation soapAction="http://tempuri.org/FillSyncServiceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncServiceData">
      <soap:operation soapAction="http://tempuri.org/GetSyncServiceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileSyncAppPoolWebserviceSoap12" type="tns:FileSyncAppPoolWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FillSyncServiceData">
      <soap12:operation soapAction="http://tempuri.org/FillSyncServiceData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncServiceData">
      <soap12:operation soapAction="http://tempuri.org/GetSyncServiceData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileSyncAppPoolWebserviceHttpGet" type="tns:FileSyncAppPoolWebserviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="FillSyncServiceData">
      <http:operation location="/FillSyncServiceData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSyncServiceData">
      <http:operation location="/GetSyncServiceData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileSyncAppPoolWebserviceHttpPost" type="tns:FileSyncAppPoolWebserviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="FillSyncServiceData">
      <http:operation location="/FillSyncServiceData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSyncServiceData">
      <http:operation location="/GetSyncServiceData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileSyncAppPoolWebservice">
    <wsdl:port name="FileSyncAppPoolWebserviceSoap" binding="tns:FileSyncAppPoolWebserviceSoap">
      <soap:address location="http://192.168.11.214:11888/FileSyncAppPoolWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="FileSyncAppPoolWebserviceSoap12" binding="tns:FileSyncAppPoolWebserviceSoap12">
      <soap12:address location="http://192.168.11.214:11888/FileSyncAppPoolWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="FileSyncAppPoolWebserviceHttpGet" binding="tns:FileSyncAppPoolWebserviceHttpGet">
      <http:address location="http://192.168.11.214:11888/FileSyncAppPoolWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="FileSyncAppPoolWebserviceHttpPost" binding="tns:FileSyncAppPoolWebserviceHttpPost">
      <http:address location="http://192.168.11.214:11888/FileSyncAppPoolWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>