ConferenceModel/Service References/ConferenceTreeWebService/ConferenceTreeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="tns:ConferenceTreeInitRefleshEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConferenceTreeInitRefleshEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AcademicReviewItemTransferEntity_ObserList" type="tns:ArrayOfConferenceTreeItemTransferEntity" />
          <s:element minOccurs="1" maxOccurs="1" name="RootCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RootParent_AcademicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
          <s:element minOccurs="0" maxOccurs="1" name="Summarize" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConferenceTreeItemTransferEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConferenceTreeItemTransferEntity" nillable="true" type="tns:ConferenceTreeItemTransferEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConferenceTreeItemTransferEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Guid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkList" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentGuid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Operation" type="tns:ConferenceTreeOperationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Operationer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParticipantList" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="FocusAuthor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ConferenceTreeOperationType">
        <s:restriction base="s:string">
          <s:enumeration value="AddType" />
          <s:enumeration value="DeleteType" />
          <s:enumeration value="UpdateType" />
          <s:enumeration value="RefleshAllType" />
          <s:enumeration value="FocusType1" />
          <s:enumeration value="FocusType2" />
          <s:enumeration value="UpdateTittle" />
          <s:enumeration value="UpdateComment" />
          <s:enumeration value="LinkAdd" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdateOne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="academicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOneResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateTittle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="academicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTittleResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="academicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCommentResponse">
        <s:complexType />
      </s:element>
      <s:element name="LinkAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="academicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LinkAddResponse">
        <s:complexType />
      </s:element>
      <s:element name="Instead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="beforeItemGuid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nowItemGuid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsteadResponse">
        <s:complexType />
      </s:element>
      <s:element name="ForceOccuptFocus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="academicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForceOccuptFocusResponse">
        <s:complexType />
      </s:element>
      <s:element name="VoteChanged">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="academicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
            <s:element minOccurs="0" maxOccurs="1" name="Participant" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoteChangedResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClearItemAllVote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="academicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearItemAllVoteResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddOne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="academicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOneResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteOne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="academicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOneResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conferenceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="conferenceTreeInitRefleshEntity" type="tns:ConferenceTreeInitRefleshEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAllResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckVoteListContainsSelf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conferenceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="academicReviewItemTransferEntity" type="tns:ConferenceTreeItemTransferEntity" />
            <s:element minOccurs="0" maxOccurs="1" name="Participant" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckVoteListContainsSelfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckVoteListContainsSelfResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConferenceTreeInitRefleshEntity" nillable="true" type="tns:ConferenceTreeInitRefleshEntity" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOneSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOne" />
  </wsdl:message>
  <wsdl:message name="UpdateOneSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOneResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTittleSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTittle" />
  </wsdl:message>
  <wsdl:message name="UpdateTittleSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTittleResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCommentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateComment" />
  </wsdl:message>
  <wsdl:message name="UpdateCommentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="LinkAddSoapIn">
    <wsdl:part name="parameters" element="tns:LinkAdd" />
  </wsdl:message>
  <wsdl:message name="LinkAddSoapOut">
    <wsdl:part name="parameters" element="tns:LinkAddResponse" />
  </wsdl:message>
  <wsdl:message name="InsteadSoapIn">
    <wsdl:part name="parameters" element="tns:Instead" />
  </wsdl:message>
  <wsdl:message name="InsteadSoapOut">
    <wsdl:part name="parameters" element="tns:InsteadResponse" />
  </wsdl:message>
  <wsdl:message name="ForceOccuptFocusSoapIn">
    <wsdl:part name="parameters" element="tns:ForceOccuptFocus" />
  </wsdl:message>
  <wsdl:message name="ForceOccuptFocusSoapOut">
    <wsdl:part name="parameters" element="tns:ForceOccuptFocusResponse" />
  </wsdl:message>
  <wsdl:message name="VoteChangedSoapIn">
    <wsdl:part name="parameters" element="tns:VoteChanged" />
  </wsdl:message>
  <wsdl:message name="VoteChangedSoapOut">
    <wsdl:part name="parameters" element="tns:VoteChangedResponse" />
  </wsdl:message>
  <wsdl:message name="ClearItemAllVoteSoapIn">
    <wsdl:part name="parameters" element="tns:ClearItemAllVote" />
  </wsdl:message>
  <wsdl:message name="ClearItemAllVoteSoapOut">
    <wsdl:part name="parameters" element="tns:ClearItemAllVoteResponse" />
  </wsdl:message>
  <wsdl:message name="AddOneSoapIn">
    <wsdl:part name="parameters" element="tns:AddOne" />
  </wsdl:message>
  <wsdl:message name="AddOneSoapOut">
    <wsdl:part name="parameters" element="tns:AddOneResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteOneSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteOne" />
  </wsdl:message>
  <wsdl:message name="DeleteOneSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteOneResponse" />
  </wsdl:message>
  <wsdl:message name="SetAllSoapIn">
    <wsdl:part name="parameters" element="tns:SetAll" />
  </wsdl:message>
  <wsdl:message name="SetAllSoapOut">
    <wsdl:part name="parameters" element="tns:SetAllResponse" />
  </wsdl:message>
  <wsdl:message name="CheckVoteListContainsSelfSoapIn">
    <wsdl:part name="parameters" element="tns:CheckVoteListContainsSelf" />
  </wsdl:message>
  <wsdl:message name="CheckVoteListContainsSelfSoapOut">
    <wsdl:part name="parameters" element="tns:CheckVoteListContainsSelfResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllHttpGetIn">
    <wsdl:part name="conferenceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllHttpGetOut">
    <wsdl:part name="Body" element="tns:ConferenceTreeInitRefleshEntity" />
  </wsdl:message>
  <wsdl:message name="InsteadHttpGetIn">
    <wsdl:part name="conferenceID" type="s:string" />
    <wsdl:part name="beforeItemGuid" type="s:string" />
    <wsdl:part name="nowItemGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsteadHttpGetOut" />
  <wsdl:message name="GetAllHttpPostIn">
    <wsdl:part name="conferenceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllHttpPostOut">
    <wsdl:part name="Body" element="tns:ConferenceTreeInitRefleshEntity" />
  </wsdl:message>
  <wsdl:message name="InsteadHttpPostIn">
    <wsdl:part name="conferenceID" type="s:string" />
    <wsdl:part name="beforeItemGuid" type="s:string" />
    <wsdl:part name="nowItemGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsteadHttpPostOut" />
  <wsdl:portType name="ConferenceTreeWebServiceSoap">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOne">
      <wsdl:input message="tns:UpdateOneSoapIn" />
      <wsdl:output message="tns:UpdateOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTittle">
      <wsdl:input message="tns:UpdateTittleSoapIn" />
      <wsdl:output message="tns:UpdateTittleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <wsdl:input message="tns:UpdateCommentSoapIn" />
      <wsdl:output message="tns:UpdateCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LinkAdd">
      <wsdl:input message="tns:LinkAddSoapIn" />
      <wsdl:output message="tns:LinkAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Instead">
      <wsdl:input message="tns:InsteadSoapIn" />
      <wsdl:output message="tns:InsteadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForceOccuptFocus">
      <wsdl:input message="tns:ForceOccuptFocusSoapIn" />
      <wsdl:output message="tns:ForceOccuptFocusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoteChanged">
      <wsdl:input message="tns:VoteChangedSoapIn" />
      <wsdl:output message="tns:VoteChangedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearItemAllVote">
      <wsdl:input message="tns:ClearItemAllVoteSoapIn" />
      <wsdl:output message="tns:ClearItemAllVoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOne">
      <wsdl:input message="tns:AddOneSoapIn" />
      <wsdl:output message="tns:AddOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOne">
      <wsdl:input message="tns:DeleteOneSoapIn" />
      <wsdl:output message="tns:DeleteOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAll">
      <wsdl:input message="tns:SetAllSoapIn" />
      <wsdl:output message="tns:SetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckVoteListContainsSelf">
      <wsdl:input message="tns:CheckVoteListContainsSelfSoapIn" />
      <wsdl:output message="tns:CheckVoteListContainsSelfSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConferenceTreeWebServiceHttpGet">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllHttpGetIn" />
      <wsdl:output message="tns:GetAllHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Instead">
      <wsdl:input message="tns:InsteadHttpGetIn" />
      <wsdl:output message="tns:InsteadHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConferenceTreeWebServiceHttpPost">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllHttpPostIn" />
      <wsdl:output message="tns:GetAllHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Instead">
      <wsdl:input message="tns:InsteadHttpPostIn" />
      <wsdl:output message="tns:InsteadHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConferenceTreeWebServiceSoap" type="tns:ConferenceTreeWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOne">
      <soap:operation soapAction="http://tempuri.org/UpdateOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTittle">
      <soap:operation soapAction="http://tempuri.org/UpdateTittle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <soap:operation soapAction="http://tempuri.org/UpdateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LinkAdd">
      <soap:operation soapAction="http://tempuri.org/LinkAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Instead">
      <soap:operation soapAction="http://tempuri.org/Instead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForceOccuptFocus">
      <soap:operation soapAction="http://tempuri.org/ForceOccuptFocus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoteChanged">
      <soap:operation soapAction="http://tempuri.org/VoteChanged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearItemAllVote">
      <soap:operation soapAction="http://tempuri.org/ClearItemAllVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOne">
      <soap:operation soapAction="http://tempuri.org/AddOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOne">
      <soap:operation soapAction="http://tempuri.org/DeleteOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAll">
      <soap:operation soapAction="http://tempuri.org/SetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVoteListContainsSelf">
      <soap:operation soapAction="http://tempuri.org/CheckVoteListContainsSelf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceTreeWebServiceSoap12" type="tns:ConferenceTreeWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOne">
      <soap12:operation soapAction="http://tempuri.org/UpdateOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTittle">
      <soap12:operation soapAction="http://tempuri.org/UpdateTittle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <soap12:operation soapAction="http://tempuri.org/UpdateComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LinkAdd">
      <soap12:operation soapAction="http://tempuri.org/LinkAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Instead">
      <soap12:operation soapAction="http://tempuri.org/Instead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForceOccuptFocus">
      <soap12:operation soapAction="http://tempuri.org/ForceOccuptFocus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoteChanged">
      <soap12:operation soapAction="http://tempuri.org/VoteChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearItemAllVote">
      <soap12:operation soapAction="http://tempuri.org/ClearItemAllVote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOne">
      <soap12:operation soapAction="http://tempuri.org/AddOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOne">
      <soap12:operation soapAction="http://tempuri.org/DeleteOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAll">
      <soap12:operation soapAction="http://tempuri.org/SetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVoteListContainsSelf">
      <soap12:operation soapAction="http://tempuri.org/CheckVoteListContainsSelf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceTreeWebServiceHttpGet" type="tns:ConferenceTreeWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAll">
      <http:operation location="/GetAll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Instead">
      <http:operation location="/Instead" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceTreeWebServiceHttpPost" type="tns:ConferenceTreeWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAll">
      <http:operation location="/GetAll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Instead">
      <http:operation location="/Instead" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConferenceTreeWebService">
    <wsdl:port name="ConferenceTreeWebServiceSoap" binding="tns:ConferenceTreeWebServiceSoap">
      <soap:address location="http://192.168.11.214:11888/ConferenceTreeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceTreeWebServiceSoap12" binding="tns:ConferenceTreeWebServiceSoap12">
      <soap12:address location="http://192.168.11.214:11888/ConferenceTreeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceTreeWebServiceHttpGet" binding="tns:ConferenceTreeWebServiceHttpGet">
      <http:address location="http://192.168.11.214:11888/ConferenceTreeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceTreeWebServiceHttpPost" binding="tns:ConferenceTreeWebServiceHttpPost">
      <http:address location="http://192.168.11.214:11888/ConferenceTreeWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>